<button onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" /> Go back</button>
<h2 class="titles">Password reset</h2>

<div class="profile-intro">
  <img src="/images/chef-icon.png" alt="Profile avatar" />
  <h3>{{user.firstName}} {{user.lastName}}</h3>
</div>
<form method="POST" action="/auth/password-reset">
  <label>Old password:</label>
  <input required="true" type="password" name="oldPassword"/>
  <label>New password:</label>
  <input required="true" type="password" name="newPassword"/>
  <label>Confirm new password:</label>
  <input required="true" type="password" name="confirmPassword"/>
  <button type="submit">Reset password</button>
</form>