<h2>Edit profile</h2>

<div class="profile-intro">
  <img src="../images/chef-icon.png" alt="Profile avatar" />
</div>
<form method="POST" action="/profile/edit">
  <label>Username:</label>
  <input required="true" value="{{username}}"></input>
  <label>First name:</label>
  <input required="true" value="{{firstName}}"></input>
  <label>Last name:</label>
  <input required="true" value="{{lastName}}"></input>
  <label>Email:</label>
  <input required="true" value="{{email}}"></input>
  <label>Cooking level:</label>
  <select required="true" name="level">
    <option value="Beginner" {{#eq level "Beginner" }}selected{{/eq}}>Beginner</option>
    <option value="Medium" {{#eq level "Medium" }}selected{{/eq}}>Medium</option>
    <option value="Experienced" {{#eq level "Experienced" }}selected{{/eq}}>Experienced</option>
    <option value="God" {{#eq level "God" }}selected{{/eq}}>God</option>
    <option value="Grandma" {{#eq level "Grandma" }}selected{{/eq}}>Grandma</option>
  </select>
  <button type="submit">Save changes</button>
</form>

<a href="/profile/delete">Delete account</a>