<button onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" /> Go back</button>
<h2 class="titles">Change profile picture</h2>

<form action="/profile/change-picture" method="POST" enctype="multipart/form-data">
  <label>Profile picture:</label>
  <input required="true" type="file" name="profilePic" />
  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}
  <button type="submit">Change picture</button>
</form>
