<div class="signed-out-nav">
  <div>
    <a href="/auth/signup">SIGN UP</a>
    <a href="/auth/login">LOG IN</a>
  </div>
  <a href="/recipe/all"><img class="home-page-icons" src="/images/chef-hat.png" alt="All recipes" /></a>
</div>