<button onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" />Go back</button>
<h2>My reviews</h2>

{{#if review}}
  {{#each review}}
    {{> myReviewCard}}
  {{/each}}
{{else}}
  <p>It seems you didn't rate any recipe yet.</p>
{{/if}}