<h2>Welcome {{user.firstName}}</h2>

<div class="slideshow">
  {{#each recipe}}
    <div class="slide slide-right">
      <img src="{{this.image}}" alt="{{this.name}}">
    </div>
  {{/each}}
</div>

<script>
  const slides = document.querySelectorAll(".slide");
  let index = 0;
  slides[index].classList.add("active");
  function showSlide() {
    slides[index].classList.remove("active");
    slides[index].classList.add("prev");
    index++;
    if (index >= slides.length)
    {
      index = 0;
    }
    slides[index].classList.add("active");
    slides[index].classList.remove("prev");
  }
  setInterval(showSlide, 5000);
</script>

{{!-- this should be fed by a js function that takes a random phrase from an array. --}}
<section>
<div class="phrase-container">
  <img src="../images/Menu-frame.png" alt="Phrase-background-img">
  <div class="catch-phrase1" ><p>"Thanks to Food-Folio, we could finally get rid of Grandma" <br><span> — Gordon Ramsay</span> </p></div>
  {{!-- <div class="catch-phrase2" ><p>"All of my favourite recipies are always handy, no more cooking notes! <br><span> — Ferran Adrià</span> </p></div> --}}
</div>
</section>