<button id="back-btn" onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" /> Go back</button>
<h2 class="titles">Favorite recipes</h2>

{{#if recipe}}
  {{#each recipe}}
    {{> recipeCard}}
  {{/each}}
{{else}}
  <p>Sorry, you don't have any favorite recipes yet. Click <a
      href="/recipe/all">here</a> to browse our recipes catalog.</p>
{{/if}}