/* GLOBAL STYLING  */

:root {
  --width-hundred: 100%;
  --margin-gap: 10px;
}

body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* margin for navbar not to cover text */
  margin-bottom: 100px;
}

main {
  margin: var(--margin-gap);
}

.folio-icon {
  width: 250px;
  margin: var(--margin-gap);
}

footer {
  position: fixed;
  bottom: 0%;
  width: var(--width-hundred);
  background-color: rgba(255, 166, 0, 0.24);
}
  
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

nav ul li a img {
  width: calc(60% - var(--margin-gap) * 4 / 5);
}

.home-icon {
  width: 120px;
}

.home-page-icons {
  width: 30px;
}

.arrow-back {
  width: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--margin-gap);
}

button {
  border: none;
  background-color: rgba(255, 166, 0, 0.534);
  border-radius: 8px;
  padding: 2px;
}

a {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

/* home page */

.home-page-nav {
  position: absolute;
  top: 150px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}

.recipeSlides {
  width: var(--width-hundred);
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.recipeSlides img {
  position: absolute;
  width: var(--width-hundred);
  height: var(--width-hundred);
  top: 0;
  left: 0;
  transition: left 0.5s ease;
}

/* media query for mobile landscape */

@media (orientation: landscape) {
  nav ul li a img {
    width: calc(35% - var(--margin-gap) * 4 / 5);
  }
}