/* GLOBAL STYLING  */

body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* margin for navbar not to cover text */
  margin-bottom: 100px;
}

main {
  margin: 10px;
}
#folioIcon {
  width: 250px;
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100vw;
  background-color: #ddd;
}
  
nav ul {
  display: flex;
  list-style: none;
  padding: 1px;
  width: 100%;
  /* space between icons - flexbox allowed */
  gap: 20px;
}

nav ul li a img {
  width: 50%;
}

.homeIcon {
  width: 120px;
}

.homePageIcons {
  width: 40px;
}

/* styles add and all recipe icons */
#homePageNav {
  position: absolute;
  top: 140px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}