/* GLOBAL STYLING  */

body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* margin for navbar not to cover text */
  margin-bottom: 100px;
}

main {
  margin: 10px;
}
#folioIcon {
  width: 250px;
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: #ddd;
}
  
nav ul {
  display: flex;
  list-style: none;
  padding: 1px;
  width: 100%;
  /* space between icons - flexbox allowed */
  gap: 4vw;
}

nav ul li a img {
  width: 50%;
}

.homeIcon {
  width: 120px;
}

.homePageIcons {
  width: 40px;
}

.arrow-back {
  width: 25px;
}

/* home page */

#homePageNav {
  position: absolute;
  top: 140px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
}

.recipeSlides {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.recipeSlides img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: left 0.5s ease;
}