{{#if user}}
{{else}}
    {{> authOptions}}
{{/if}}

<button id="back-btn" onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" /> Go back</button>
<div class="gradient" >
<h2 class="title-random-recipe">Chef's suggestion</h2>
</div>
{{#if recipe}}
    {{> randomRecipe}}
{{/if}}