<button id="back-btn" onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" /> Back</button>
<div class="gradient">
    <h2 class="titles">Chef's suggestion</h2>
</div>

{{#if recipe}}
    {{> randomRecipe}}
{{/if}}