{{#if user}}
{{else}}
    {{> authOptions}}
{{/if}}

<button onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" /> Go back</button>
<h2 class="titles">Chef's suggestion</h2>

{{#if recipe}}
    {{> randomRecipe}}
{{/if}}