{{#if user}}
{{else}}
  {{> authOptions}}
{{/if}}

<button id="back-btn" onclick="history.back()"><img class="arrow-back" src="/images/back-arrow.png" /> Go back</button>

<div class="gradient">
<h2 class="titles">Recipes</h2>
</div>

<!-- sorting form -->
<form action="/recipe/search-results" method="GET">
  <label for="sortBy">Sort by:</label>
  <select class="sortBy" name="sortBy">
    <option value="paxAsc">Servings (Ascending)</option>
    <option value="paxDesc">Servings (Descending)</option>
    <option value="kcalAsc">Calories (Ascending)</option>
    <option value="kcalDesc">Calories (Descending)</option>
    <option value="timeAsc">Time (Ascending)</option>
    <option value="timeDesc">Time (Descending)</option>
  </select>
  <button type="submit">Sort recipes</button>
</form>

{{#if recipe}}
{{#each recipe}}
  {{> recipeCard}}
  <hr class="bigger-hr">
  {{/each}}
{{else}}
<p>Sorry, no recipe has been found under this name. <a href="/recipe/search">Try again</a> or <a href="/recipe/new">add</a> this recipe.</p>
{{/if}}